body {
    padding: 1em;
}

input {
    margin: 1em;
    border-radius: .25em;
}

input:focus {
    border: 1px solid lightblue
}

#teams {
    border : 1px solid blue;
    width: 100%;
    margin-bottom: 1em;
}

#games {
    border : 1px solid green;
    width : 100%;
}

table {
    border-collapse : collapse;
    border: 1px solid gray;
}

td, th {
    padding: .5em;
    border: 1px solid gray;
}

tr:nth-child(even) {
    background-color: rgb(235,235,235);
}

tr:nth-child(odd) {
    background-color: white;
}

tr:first-child {
    background-color: black;
    color:white;
    font-weight: bold;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#back {
    float: right;
    cursor: pointer;
    padding: .5em;
    font-weight:bold;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius:.25em;
}